https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-5344-Support-skipping-install/uninstall-in-update.zip
pyzmq==15.1.0
