https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-1599-can-not-cancel-an-execution-stuck-on-pending-status.zip
pyzmq==15.1.0
